<div class="post-card-meta">
    {{ partial "author.html" $ }}
    <div class="post-card-dates">
        <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
            {{- .PublishDate | time.Format ":date_long" -}}
        </time>
        {{- if and .Lastmod (gt .Lastmod.Unix .PublishDate.Unix) }}
        <span class="post-card-updated">
            Atnaujinta: <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod | time.Format ":date_long" }}</time>
        </span>
        {{- end }}
    </div>
</div>
