<div class="author-line">
    {{ if .Params.authors }}
        {{ $path := printf "%s/%s" "authors" ((index .Params.authors 0) | urlize) }}
        {{ with $.Site.GetPage $path }}
        <a class="author-image" href="{{ .Params.link }}">
            <img src="/tinklarastis/img/{{ $path }}.webp" alt="{{ .Params.name }} autoriaus nuotrauka" class="author-image" />
        </a>
        <span>{{ .Params.name }}</span>
        {{ end }}
    {{ end }}
    {{ $dateTime := .PublishDate.Format "2006-01-02" }} {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
    <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
</div>
