<div class="author-line">
    {{ if .Params.authors }}
        {{ $path := printf "%s/%s" "authors" ((index .Params.authors 0) | urlize) }}
        {{ with $.Site.GetPage $path }}
        <a class="author-image-container" href="{{ .Params.link }}">
            <img src="/tinklarastis/img/{{ $path }}.webp" alt="{{ .Params.name }} autoriaus nuotrauka" class="author-image" />
            <span>{{ .Params.name }}</span>
        </a>
        {{ end }}
    {{ end }}
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    <time
        datetime="{{ .PublishDate.Format "2006-01-02" }}"
        style="padding-left: 0.6rem;"
    >{{ .PublishDate | time.Format ":date_long" }}</time>
</div>
